.about {
    .about-img {
        @include span-columns(3);

        @include media($mobile) {
            text-align: center;
            @include span-columns(12);
        }
    }

    .about-txt {
        text-align: justify;

        @include span-columns(9);

        @include media($mobile) {
            text-align: center;
            @include span-columns(12);
        }
    }

    @include clearfix;
}
