footer {
    border-top: 1px dotted white;
    margin-top: 1em;
    li {
        margin: 10px 0;
        display: block;
        text-align: center;
    }
}

@include media($bigger-than-mobile) {
    footer {
        li {
            margin: 0 10px;
            display: inline-block;
        }
    }
}

@include media($desktop) {
    footer {
        margin-left: $img-width;
    }
}
