header {
    width: 100%;
    background-color: #000;
    position: relative;
    font-size: 1.25em;
    z-index: 10;

    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
    @include flex-wrap(wrap);
}

.top-bar {
    color: $white;
    background-color: $black;
    width: 100%;

    .language {
        float: right;
        .flag {
            padding: 0 5px;
            vertical-align: bottom;

            @include filter(grayscale(100%));
            &.selected {
                @include filter(grayscale(0%));
            }
            &:hover {
                @include filter(grayscale(0%));
            }
        }
    }
    @include clearfix;
}

.logo {
    text-align: center;
}

.centered-navigation {
    $centered-navigation-padding: 1em;
    $centered-navigation-background: #000;
    $centered-navigation-color: lightgray;
    $centered-navigation-color-hover: transparentize(#fff, 0.3);
    $centered-navigation-height: 60px;
    $centered-navigation-item-padding: 1em;
    $centered-navigation-submenu-padding: 1em;
    $centered-navigation-submenu-width: 12em;
    $centered-navigation-item-nudge: 2.2em;
    $horizontal-bar-mode: $medium-screen;

    background-color: $centered-navigation-background;
    //border: 1px solid lighten($centered-navigation-background, 20%);
    font-family: $sans-serif;
    font-size: 0.8em;
    text-transform: uppercase;
    height: $centered-navigation-height;
    width: 100%;
    margin: auto;

    @include media($horizontal-bar-mode) {
        width: auto;
    }

    .centered-navigation-menu-button {
        color: $centered-navigation-color;
        display: block;
        font-weight: 700;
        line-height: $centered-navigation-height;
        text-align: center;
        margin: 0;
        padding-right: $centered-navigation-submenu-padding;
        text-transform: uppercase;

        @include media($horizontal-bar-mode) {
            display: none;
        }

        &:hover {
            color: $centered-navigation-color-hover;
        }
    }

    ul.centered-navigation-menu {
        -webkit-transform-style: preserve-3d; // stop webkit flicker
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;

        @include media($horizontal-bar-mode) {
            display: block;
            text-align: center;
        }
    }

    // The nav items

    .nav-link:first-child {
        @include media($horizontal-bar-mode) {
            margin-left: $centered-navigation-item-nudge;
        }
    }

    ul li.nav-link {
        background: $centered-navigation-background;
        display: block;
        line-height: $centered-navigation-height;
        overflow: hidden;
        padding-right: $centered-navigation-submenu-padding;
        text-align: center;
        width: 100%;
        z-index: 9999;

        @include media($horizontal-bar-mode) {
            background: transparent;
            display: inline;
            line-height: $centered-navigation-height;

            a {
                padding-right: $centered-navigation-item-padding;
            }
        }

        a {
            color: $centered-navigation-color;
            display: inline-block;

            &:hover {
                color: $centered-navigation-color-hover;
            }
        }
    }

    // Sub menus
    li.more.nav-link {
        padding-right: 0;

        @include media($medium-screen) {
            padding-right: $centered-navigation-submenu-padding;
        }

        > ul > li:first-child a {
            padding-top: 1em;
        }

        a {
            margin-right: $centered-navigation-submenu-padding;
        }

        > a {
            padding-right: 0.6em;
        }

        > a:after {
            @include position(absolute, auto -.4em auto auto);
            color: $centered-navigation-color;
            content: '\25BE';
        }
    }

    li.more {
        overflow: visible;
        padding-right: 0;

        a {
            padding-right: $centered-navigation-submenu-padding;
        }

        > a {
            padding-right: 1.6em;
            position: relative;

            @include media($medium-screen) {
                margin-right: $centered-navigation-submenu-padding;
            }

            &:after {
                content: '›';
                font-size: 1.2em;
                position: absolute;
                right: $centered-navigation-submenu-padding / 2;
            }
        }

        &:hover > .submenu {
            display: block;
        }

        @include media($horizontal-bar-mode) {
            padding-right: $centered-navigation-submenu-padding;
            position: relative;
        }
    }

    ul.submenu {

        font-size: 0.9em;
        font-style: italic;
        text-transform: initial;
        display: none;
        padding-left: 0;

        @include media($horizontal-bar-mode) {
            left: -$centered-navigation-submenu-padding;
            position: absolute;
            top: 1.5em;
        }

        .submenu {
            @include media($horizontal-bar-mode) {
                left: $centered-navigation-submenu-width - .2em;
                top: 0;
            }
        }

        li {
            display: block;
            padding-right: 0;

            @include media($horizontal-bar-mode) {
                line-height: $centered-navigation-height / 1.3;

                &:first-child > a {
                    border-top-left-radius: $base-border-radius;
                    border-top-right-radius: $base-border-radius;
                }

                &:last-child > a {
                    border-bottom-left-radius: $base-border-radius;
                    border-bottom-right-radius: $base-border-radius;
                    padding-bottom: .7em;
                }
            }

            a {
                background-color: lighten($centered-navigation-background, 20%);
                display: inline-block;
                text-align: center;
                width: 100%;

                @include media($horizontal-bar-mode) {
                    background-color: $centered-navigation-background;
                    padding-left: $centered-navigation-submenu-padding;
                    text-align: left;
                    width: $centered-navigation-submenu-width;
                }
            }
        }
    }
}
