header {
    width: 100%;
    @include media($desktop) {
        height: $logo-size;
    }
}

.logo img {
    width: $logo-size;
}

@include media($mobile) {
    .logo {
        display: block;
        width: 100%;
        img {
            display:block ;
            margin-left:auto;
            margin-right:auto ;
        }
    }
}

@include media($desktop) {
    .logo {
        display: inline-block;
        text-align: center;
        img {
            display: inline-block;
        }
    }
}

.top-bar {
    color: $white;
    background-color: $black;
    display: inline-block;
    width: 100%;
    text-align: right;
    @include media($desktop)  {
        float: right;
        width: auto;
        @include clearfix;
    }

    span {
        display: inline-block;
        a {
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    .language .selected {
        text-decoration: underline;
    }
}

.centered-navigation {
    font-size: 14px;
    $centered-navigation-padding: 1em;
    $centered-navigation-background: rgba(#000, 0.8);
    $centered-navigation-color: lightgray;
    $centered-navigation-color-hover: transparentize(#fff, 0.3);
    $centered-navigation-height: 60px;
    $centered-navigation-item-padding: 1em;
    $centered-navigation-submenu-padding: 1em;
    $centered-navigation-submenu-width: 12em;
    $centered-navigation-item-nudge: 1em;
    $horizontal-bar-mode: $tablet;

    background-color: $centered-navigation-background;
    //border: 1px solid lighten($centered-navigation-background, 20%);
    //font-family: $sans-serif;
    text-transform: uppercase;
    //height: $centered-navigation-height;
    width: 100%;
    margin: auto;

    @include media($horizontal-bar-mode) {
        width: auto;
        text-align: center;
    }

    .centered-navigation-menu-button {
        color: $centered-navigation-color;
        display: block;
        font-weight: 700;
        line-height: $centered-navigation-height;
        text-align: center;
        margin: 0;
        padding-right: $centered-navigation-submenu-padding;
        text-transform: uppercase;

        @include media($horizontal-bar-mode) {
            display: none;
        }

        &:hover {
            color: $centered-navigation-color-hover;
        }
    }

    ul.centered-navigation-menu {
        -webkit-transform-style: preserve-3d; // stop webkit flicker
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;

        @include media($horizontal-bar-mode) {
            display: block;
            text-align: center;
        }
    }

    // The nav items

    .nav-link:first-child {
        @include media($horizontal-bar-mode) {
            margin-left: $centered-navigation-item-nudge;
        }
    }

    ul li.nav-link {
        background: $centered-navigation-background;
        display: block;
        line-height: $centered-navigation-height;
        overflow: hidden;
        padding-right: $centered-navigation-submenu-padding;
        text-align: center;
        width: 100%;
        z-index: 9999;

        a {
            color: $centered-navigation-color;
            display: inline-block;

            &:hover {
                color: $centered-navigation-color-hover;
            }
        }

        @include media($horizontal-bar-mode) {
            background: transparent;
            display: inline;
            line-height: $centered-navigation-height;

            a {
                padding-right: $centered-navigation-item-padding;
            }
        }
    }

    // Sub menus
    li.more.nav-link {
        padding-right: 0;

        @include media($medium-screen) {
            padding-right: $centered-navigation-submenu-padding;
        }

        > ul > li:first-child a {
            padding-top: 1em;
        }

        a {
            margin-right: $centered-navigation-submenu-padding;
        }

        > a {
            padding-right: 0.6em;
        }

        > a:after {
            @include position(absolute, auto -.4em auto auto);
            color: $centered-navigation-color;
            content: '\25BE';
        }
    }

    li.more {
        overflow: visible;
        padding-right: 0;

        a {
            padding-right: $centered-navigation-submenu-padding;
        }

        > a {
            padding-right: 1.6em;
            position: relative;

            @include media($medium-screen) {
                margin-right: $centered-navigation-submenu-padding;
            }

            &:after {
                content: '›';
                font-size: 1.2em;
                position: absolute;
                right: $centered-navigation-submenu-padding / 2;
            }
        }

        &:hover > .submenu {
            display: block;
        }

        @include media($horizontal-bar-mode) {
            padding-right: $centered-navigation-submenu-padding;
            position: relative;
        }
    }

    ul.submenu {

        font-size: 0.9em;
        font-style: italic;
        text-transform: initial;
        display: none;
        padding-left: 0;

        @include media($horizontal-bar-mode) {
            left: -$centered-navigation-submenu-padding;
            position: absolute;
            top: 1.5em;
        }

        .submenu {
            @include media($horizontal-bar-mode) {
                left: $centered-navigation-submenu-width - .2em;
                top: 0;
            }
        }

        li {
            display: block;
            padding-right: 0;

            @include media($horizontal-bar-mode) {
                line-height: $centered-navigation-height / 1.3;

                &:first-child > a {
                    border-top-left-radius: $base-border-radius;
                    border-top-right-radius: $base-border-radius;
                }

                &:last-child > a {
                    border-bottom-left-radius: $base-border-radius;
                    border-bottom-right-radius: $base-border-radius;
                    padding-bottom: .7em;
                }
            }

            a {
                background-color: lighten($centered-navigation-background, 20%);
                display: inline-block;
                text-align: center;
                width: 100%;

                @include media($horizontal-bar-mode) {
                    background-color: $centered-navigation-background;
                    padding-left: $centered-navigation-submenu-padding;
                    text-align: left;
                    width: $centered-navigation-submenu-width;
                }
            }
        }
    }
}

@include media($bigger-than-mobile) {

    .centered-navigation {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-around);
        @include flex-wrap(wrap);
    }
}



@include media($desktop) {
    .centered-navigation {
        width: 170px;
        display: inline-block;
        position: relative;
        background-color: rgba(0,0,0,0.8);
        top: 0;
        left: $img-width - 170px;
        min-height: 650px;

        .centered-navigation-wrapper {
            margin-top: 4em;
        }

        ul li.nav-link {
            display: inline-block;
            margin-right: 20px;
            text-align: right;
        }

        .nav-link:first-child {
            margin-left: 0;
        }
    }
}
