.illustrations {

	
	.title {
		font-size: 1.5em;
		font-style: italic;
		font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	}

	.illustration-thumbnail {
		position: relative;
		display: inline-block;
		margin: 0 1em;
		padding: 2px 0;
	  /*
		@include media(64.063em) {
			@include span-columns(3);
			@include omega(4n);
		}

		@include media(min-width 40.063em max-width 64em) {
			@include span-columns(6);
			@include omega(2n);
		}

		@include span-columns(12);
		*/
	}

	.full-size {
			max-height: 80%;
	}

	a.illustration-link {
		padding: 10px;
		color: #237546;
		font-weight: 700;
		text-shadow: none;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
		transition: color 0.3s;
	}

	a.illustration-link::before,
	a.illustration-link::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background: $gold;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		-moz-transition: opacity 0.3s, -moz-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	a.illustration-link::before {
		top: 0;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	a.illustration-link::after {
		bottom: 0;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		transform: translateY(10px);
	}

	a.illustration-link:hover,
	a.illustration-link:focus {
		color: $gold;
	}

	a.illustration-link:hover::before,
	a.illustration-link:focus::before,
	a.illustration-link:hover::after,
	a.illustration-link:focus::after {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
}
