.product {
    .left {
        @include span-columns(6);
        text-align: right;

        @include media($mobile) {
            @include span-columns(12);
        }

        .main-img {
            max-height: 400px;
        }

        .thumbnails img {
            height: 80px;
            margin: 4px;
        }
    }

    .right {
        div {
            margin: 1em 0;
        }

        select {
            display: inline;
            width: auto;
        }

        @include span-columns(6);

        @include media($mobile) {
            @include span-columns(12);
        }

        .social {
            i {
                margin: 0 0.5em;
                color: #ffffff;
                &:hover {
                    color: darken(#ffffff, 20%);
                }
            }
        }

        .price {
            text-align: right;
            font-weight: 600;
            border-bottom: 1px solid #ffffff;
        }
    }

    @include clearfix;
}

.recommendations {
    img {
        width: 150px;
        margin: 0 5px;
    }
}

@include media($mobile) {
    .recommendations {
        text-align: center;
        img {
            width: 100px;
            margin: 0 5px;
        }
    }
    .product .left, .product .right {
        text-align: center;
    }
}

.products {
    @include clearfix;

    h1 {
        width: 100%;
        text-align: center;
        font-style: italic;
        padding-bottom: 1em;
    }

    .product-thumbnail {
        position: relative;
        display: inline-block;
        text-align: center;

        @include span-columns(12);

        @include media($bigger-than-mobile) {
            @include span-columns(6);
        }

        @include media($desktop) {
            @include span-columns(3);
            @include omega(4n);
        }

        img {
            margin-top: 5px;
        }
    }

    a.product-link {
        margin: 10px;
        color: $white;
        font-weight: 700;
        text-shadow: none;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
    }

    a.product-link::before,
    a.product-link::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: $white;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    a.product-link::before {
        top: 0;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    a.product-link::after {
        bottom: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        transform: translateY(10px);
    }

    a.product-link:hover,
    a.product-link:focus {
        color: $white;
    }

    a.product-link:hover::before,
    a.product-link:focus::before,
    a.product-link:hover::after,
    a.product-link:focus::after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
}

