.product {

    .slick-dots {
        bottom: -30px;
        li button:before {
            color: white;
        }
    }

    .product-left {
        @include span-columns(6);
        text-align: center;

        @include media($mobile) {
            @include span-columns(12);
        }

        .thumbnails {
            width: 80%;
            display: inline-block;

            @include media($mobile) {
                max-width: 300px;
            }

            img {
                margin: 4px;
            }
        }
    }

    .product-right {

        select {
            display: inline;
            width: auto;
            margin: 0;
        }

        button {
            padding: 3px;
        }

        .price {
            font-size: 1.3em;
            margin: 1em;
            display: inline-block;
        }

        .description {
            padding: 1em;
            text-align: justify;
        }

        @include span-columns(6);

        @include media($mobile) {
            @include span-columns(12);
        }

        .social {
            font-size: 1.3em;
            i {
                margin: 0 0.5em;
                color: #ffffff;
                &:hover {
                    color: darken(#ffffff, 20%);
                }
            }

            @include media($mobile) {
                float: right;
            }
        }
    }

    @include clearfix;
}

.recommendations {
    margin-top: 10px;
    border-top: 1px solid white;

    .title {
        line-height: 2em;
        font-size: 1.2em;
    }

    img {
        margin: 0 5px;
    }
}

@include media($mobile) {
    .recommendations {
        text-align: center;
        img {
            margin: 0 5px;
        }
    }
    .product .left, .product .right {
        text-align: center;
    }
}

.products {
    @include clearfix;

    @include media($mobile) {
        text-align: center;
    }

    .description {
        text-align: center;
        margin-bottom: 3em;
    }

    .product-thumbnail {
        position: relative;
        display: inline-block;
        text-align: center;

        img {
            margin-top: 5px;
        }
    }

    a.product-link {
        margin: 10px;
        color: $white;
        font-weight: 300;
        text-shadow: none;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
    }

    a.product-link::before,
    a.product-link::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: $white;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    a.product-link::before {
        top: 0;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    a.product-link::after {
        bottom: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        transform: translateY(10px);
    }

    a.product-link:hover,
    a.product-link:focus {
        color: $white;
    }

    a.product-link:hover::before,
    a.product-link:focus::before,
    a.product-link:hover::after,
    a.product-link:focus::after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
}

