@import "bourbon";
@import "grid-settings";
@import "neat";
@import "base";

@import "_variables.scss";

@import "_header";
@import "_footer";
@import "_index";

@import "_contact";

@import "_illustrations";
@import "_products";

html, body {
 height: 100%;
 background-color: $black;
 color: $white;
}

.main {
  @include outer-container;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;

  @include media(480px) {
    margin-bottom: 40px;
  }
}

.full-size {
  max-height: 80%;
}
