@import "bourbon";
@import "grid-settings";
@import "neat";
@import "base";

@import "_variables.scss";

@import "_header";
@import "_footer";
@import "_index";

a {
  color: $pink;
}

html, body {
 height: 100%;
 background-color: $black;
}

.main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 80px;

  @include media(480px) {
    margin-bottom: 40px;
  }
}
