<div class="row">
    <div class="small-12">
        <form ng-submit="submit()">
            <div class="row">
                <div class="small-2 columns">
                    <div><label class="right inline">Language</label></div>
                </div>
                <div class="small-10 columns">
                    <select ng-model="article.language" ng-options="language for language in languages"></select>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="title" class="right inline">Title</label>
                </div>
                <div class="small-10 columns">
                    <input type="text" id="title" ng-change="createPermalink()" ng-model="article.title" placeholder="Article's title" maxlength="60" required="true"/>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="permalink" class="right inline">Permalink</label>
                </div>
                <div class="small-10 columns">
                    <input type="text" id="permalink" ng-model="article.permalink" placeholder="Article's permalink" required="true"/>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="summary" class="right inline">Summary</label>
                </div>
                <div class="small-10 columns">
                    <textarea type="text" id="summary" ng-model="article.summary" ng-maxlength="255" required="true"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <div><label class="right inline">Content</label></div>
                </div>
                <div class="small-10 columns">
                    <rich-text-editor content="article.content"></rich-text-editor>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <div><label class="right inline">Is published ?</label></div>
                </div>
                <div class="small-10 columns"><input type="checkbox" ng-model="article.published">
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns">
                    <alert ng-show="response" type="response.type">{{response.msg}}</alert>
                </div>
                <div class="small-4 columns">
                    <button ng-click="saveArticle()" class="button right">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
