<div class="row">
    <div class="small-12">
        <form ng-submit="submit()">
            <div class="row">
                <div class="small-2 columns">
                    <label class="right inline">Type</label>
                </div>
                <div class="small-10 columns">
                    <a class="button split">
                        <span dropdown-toggle="#dropdown-example-3"></span>
                        {{collection.type}}
                    </a>
                    <ul id="dropdown-example-3" class="f-dropdown">
                        <li ng-repeat="type in types">
                            <a ng-click="selectType(type.value)">{{type.label}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="name" class="right inline">Name</label>
                </div>
                <div class="small-10 columns">
                    <input type="text" id="name" ng-change="createPermalink()" ng-model="collection.name" placeholder="Collection's name" required="true">
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="permalink" class="right inline">Permalink</label>
                </div>
                <div class="small-10 columns">
                    <input type="text" id="permalink" ng-model="collection.permalink" placeholder="Collection's permalink" required="true"/>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="main-image" class="right inline">Main image</label>
                </div>
                <div class="small-1 columns">
                    <icon class="fi-folder" browse-image-modal type="collection" selected-image="collection.mainImage"></icon>
                    <icon class="fi-upload" upload-image-modal type="collection" uploaded-image="collection.mainImage"></icon>
                </div>
                <div class="small-4 columns">
                    <input type="text" id="main-image" ng-model="collection.mainImage.permalink" readonly required="true">
                </div>
                <div class="small-5 columns">
                    <img ng-src="{{collection.mainImage.listImgUrl}}"/>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label class="right inline">Description</label>
                    <div>
                        <select ng-model="langSelected" ng-options="language for language in languages"></select>
                    </div>
                </div>
                <div class="small-10 columns">
                    <rich-text-editor ng-show="langSelected == 'en'" content="collection.description.en"></rich-text-editor>
                    <rich-text-editor ng-show="langSelected == 'fr'" content="collection.description.fr"></rich-text-editor>
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns">
                    <alert ng-show="response" type="response.type">{{response.msg}}</alert>
                </div>
                <div class="small-4 columns">
                    <button ng-click="saveCollection()" class="button right">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
