<script type="text/ng-template" id="collectionDeleteModal.html">
    <h3>Do you want to delete "{{collection.name}}" ?</h3>
    <button class="button" ng-click="cancel()">Cancel</button>
    <button class="button alert" ng-click="ok()">OK</button>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<p><a class="button expand" href="#/collection">New collection</a></p>
<div class="row">
    <div class="large-3 medium-4 small-6 columns" ng-repeat="collection in collections">
        <a ng-href="#/collection/{{collection.permalink}}">
            <img style="width: 100%;" ng-src="{{collection.mainImage.listImgUrl}}">
            <h6 class="panel">{{collection.name}}</h6>
        </a>
    </div>
</div>
