<div class="row">
    <div class="small-2 columns">
        <div><label class="right inline">Description</label></div>
        <div><select ng-model="langSelected" ng-options="language for language in languages"></select></div>
    </div>
    <div ng-show="isEnSelected()" class="small-10 columns">
        <textarea cols="20" rows="10"
                  ng-model="content.en"
                  name="pageBody"
                  ckeditor="editorOptions" required="required">
        </textarea>
    </div>
    <div ng-show="isFrSelected()" class="small-10 columns">
        <textarea cols="20" rows="10"
                  ng-model="content.fr"
                  name="pageBody"
                  ckeditor="editorOptions" required="required">
        </textarea>
    </div>
</div>
