<div>
    <div ng-show="isEnSelected()">
        <textarea cols="20" rows="10"
                  ng-model="descriptions.en"
                  name="textEditorEn"
                  ckeditor="editorOptions" required="required">
        </textarea>
    </div>
    <div ng-show="isFrSelected()">
        <textarea cols="20" rows="10"
                  ng-model="descriptions.fr"
                  name="textEditorFr"
                  ckeditor="editorOptions" required="required">
        </textarea>
    </div>
</div>
