
<div class="row">
  <div class="small-12">
    <form ng-submit="submit()" >
    <div class="row">
      <div class="small-3 columns">
        <label for="name" class="right inline">Nom</label>
      </div>
      <div class="small-9 columns">
        <input type="text" id="name" ng-model="name" placeholder="Nom de l'illustration">
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <label for="file" class="right inline">Image</label>
      </div>
      <div class="small-9 columns">
        <input type="file" ng-file-select="onFileSelect($files)">
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input type="submit" class="button expand" value="Submit"  />
      </div>
    </div>
    </form>


    <div class="alert alert-info">Server Response: {{response | json}}</div>
    <div>
        Nom: <b>{{response.name}}</b><br />
        Picture: {{response.pictureUrl}}
    </div>
  </div>
</div>
