<script type="text/ng-template" id="imageDeleteModal.html">
    <h3>Do you want to delete "{{image.name}}" ?</h3>
    <button class="button" ng-click="cancel()">Cancel</button>
    <button class="button alert" ng-click="ok()">OK</button>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</script>

<div class="row">
    <ul class="small-block-grid-4">
        <li ng-repeat="image in images">
            <a ng-href="#/image/{{image.permalink}}">
                <img style="width: 100%;" ng-src="{{image.listImgUrl}}">
            </a>
            <div class="grid-item-name">
                <span>{{image.name}}</span>
                <a class="right" ng-click="delete(image)"><i class="fi-trash"></i></a>
            </div>
        </li>
    </ul>
</div>
