<div class="row">
    <div class="small-12">
        <form ng-submit="submit()">
            <div class="row">
                <div class="small-2 columns">
                    <label for="collection" class="right inline">Collection</label>
                </div>
                <div class="small-10 columns">
                    <input type="text" id="collection" ng-model="product.collectionName" placeholder="Collecion's name">
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="name" class="right inline">Name</label>
                </div>
                <div class="small-10 columns">
                    <input type="text" id="name" ng-model="product.name" placeholder="Product's name">
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="price" class="right inline">Price</label>
                </div>
                <div class="small-10 columns">
                    <input type="number" id="price" ng-model="product.price">
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label for="main-image" class="right inline">Main image</label>
                </div>
                <div class="small-1 columns">
                    <icon class="fi-folder" browse-image-modal type="product" selected-image="product.mainImage"/>
                    <icon class="fi-upload" upload-image-modal type="product" uploaded-image="product.mainImage"/>
                </div>
                <div class="small-4 columns">
                    <input type="text" id="main-image" ng-model="product.mainImage.permalink" readonly>
                </div>
                <div class="small-5 columns">
                    <img ng-src="{{product.mainImage.thumbnailUrl}}"/>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label class="right inline">Description</label>
                </div>
                <div class="small-10 columns">
                    <textarea cols="20" rows="10"
                              ng-model="product.description"
                              name="pageBody"
                              ckeditor="editorOptions" required="required">
                    </textarea>
                </div>
            </div>
            <div class="row">
                <div class="small-2 columns">
                    <label class="right inline">Other images</label>
                </div>
                <div class="small-4 columns">
                    <input type="text" class="small" id="main-image" ng-model="otherImage.permalink" readonly>
                </div>
                <div class="small-1 columns">
                    <icon class="fi-folder" browse-image-modal type="product" selected-image="otherImage"/>
                    <icon class="fi-upload" upload-image-modal type="product" uploaded-image="otherImage"/>
                </div>
                <div class="small-2 columns">
                    <button class="button tiny expand" ng-click="addOtherImage()">Add</button>
                </div>
                <div class="small-3 columns">
                </div>
            </div>
            <div class="row" ng-repeat="image in product.otherImages">
                <div class="small-2 columns">
                    <label class="right inline">Image {{$index}}</label>
                </div>
                <div class="small-4 columns">
                    <input type="text" class="small" id="main-image" ng-model="image.permalink" readonly>
                </div>
                <div class="small-1 columns">
                    <i class="fi-x" ng-click="removeOtherImage($index)"></i>
                </div>
                <div class="small-5 columns">
                    <img ng-src="{{image.thumbnailUrl}}"/>
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns">
                    <alert ng-show="response" type="response.type">{{response.msg}}</alert>
                </div>
                <div class="small-4 columns">
                    <button ng-click="saveProduct()" class="button right">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>